
{% import "mixins.twig" as mixin %}

{% block content %}

    <div  id="impact-content" class="container-fluid">

        <div class="row ">

            <div class=" d-flex justify-content-center align-items-center col-md-6 py-4 text-center content-area" style="{{ mixin.bgImg(post.get_field('_impact_band_image'),0)}}">
                <h2 class="d-inline-block text-vertical text-orange text-uppercase">{{ options.impact_title }}</h2>
                <div class="tab-content ">
                    {% for item in options.impact_numbers %}
                        <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="impact{{ loop.index }}" role="tabpanel"><span class="text-white" style="font-size: 100px">{{ item.number }}</span></div>
                    {% endfor %}
                </div>
            </div>
            <div class=" col-md-6 content-area py-5 bg-green">
                <ul class="nav nav-impact text-uppercase font-eveleth d-inline-block" role="tablist">
                    {% for item in options.impact_numbers %}
                        <li class="nav-item ">
                            <a class="nav-link text-d-grey {% if loop.index == 1 %}active{% endif %}" data-toggle="tab" href="#impact{{ loop.index }}" role="tab">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

{% endblock %}
