{# Choose base on which to extend this template #}
{% extends "base.twig" %}

{# Import macros for use in this template #}
{% import "mixins.twig" as mixin %}

{# Twig block to be included in Base.twig #}
{% block content %}
<div class="wrapper academies-wrapper" id="page-wrapper" xmlns="http://www.w3.org/1999/html">

    <header class=""style="{{ mixin.bgImgOrange(post.thumbnail.src,0.5)}}" >
        <div  id="header" class=" container" >

            <div class="row">

                <div class="col-md-6 py-4 flex-md-first flex-last text-left countries {{ post.title|lower }}-active" >
                    {{ source('media/countries-zoomed.svg') }}

                </div>
                <div class="col-md-6  py-5 text-center" >
                    <div id="academies-header">
                        <h1 class="text-white text-uppercase">{{ post.title }}</h1>
                        <div class="text-white header-text">{{ post.content}}</div>


                    </div>
                    {% for academy in academies %}
                        <div id="{{ academy.slug }}-copy" class="my-4 country-block" >
                            <h2 class="text-white text-uppercase">{{ academy.title }}</h2>
                            <div class="text-white ">{{ academy.get_field('header_excerpt') }}</div>
                        </div>
                    {% endfor %}
                </div>




            </div><!-- .row -->
        </div><!-- #header -->
    </header>

    <section  id="activites-content" class="container my-5">

        <div class="row">
            <div id="primary" class="col-12 py-5 content-area">
                <h1 class="text-uppercase mb-4">{{ post.get_field('more_info_block_title') }}</h1>
                <!-- Nav tabs -->
                <ul class="nav bg-green py-3" role="tablist">
                    {% for item in post.get_field('more_info_block') %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.index == 1 %}active{% endif %}  m-0 py-0 px-3 font-eveleth   text-white" data-toggle="tab" href="#mission{{ loop.index }}" role="tab">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content bg-l-grey p-4">
                    {% for item in post.get_field('missions_and_values') %}
                    <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="mission{{ loop.index }}" role="tabpanel">{{ item.content }}</div>
                    {% endfor %}
                </div>

            </div><!-- #primary -->
        </div>

        <div class="row  py-3">


            <div class="col-12 mb-4">
                <h2>{{ post._global_activities_title }}</h2>
            </div>
            {% for activity in post.get_field('_global_activities') %}

                <div class="col-md-4 mb-4">
                    {%  set newsData = {
                    link : activity.link,
                    image : activity.image,
                    title : activity.title,
                    excerpt : activity.excerpt,

                    } %}

                    {{ mixin.newsBlock(newsData) }}
                </div>

            {% endfor %}
        </div>

    </section>




</div><!-- #wrapper -->




{% endblock %}
